// Variables
$white-color: #ffffff;
$grey-color: #999999;
// $grey-color2: #666666;
$grey-color2: #aaa;
$grey-color3: #1d1d1d;
$light-grey-color: #cccccc;
// $light-grey-color2: #DBDBDB;
$light-grey-color2: #dddddd;
$light-grey-color3: #efefef;
$soft-grey-color: #ebebeb;
$dark-color: #1d1d1b;
$primary-color: #0094cf;
$primary-color-hover: #66b2d0;
$primary-color-focus: #588196;
$primary-background: #f2f2eb;
$primary-input-field-color: #b5b5b4;
$primary-input-field-focus: #0094cf;
$dark-blue-color: #284164;
$dark-blue-color2: #4275bd;
$brown-color: #46413c;
$light-brown-color: #aca28f;
$accept-color: #43af76;
$decline-color: #da0000;
$attention-color: #de9d50;
$disabled-color: #dbdbdb;
$selected-color: $primary-input-field-focus;
$font-size-base: 14px;

$border-color: #d5d5d5;

// $mobile-screen-size: 700px;
$mobile-screen-size: 900px;
$vertical-methods-screen-size: 1300px;
