.container {
  /* position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px; */
}

.animation-ease {
  transition: transform 1.3s ease;
  vertical-align: middle;
}

.animation-top {
  transition: max-height 1s ease;
  vertical-align: middle;
  /* max-height: 0px;
  overflow: hidden; */
}
.animation-bottom {
  transition: max-height 1s ease;
  vertical-align: middle;
  /* max-height: 0px;
  overflow: hidden; */
}

.expand {
  max-height: 300px;
  border: 1px solid #ddd;
}

.collapse {
  max-height: 0px;
  overflow: hidden;
}

.toggle-button {
  margin-left: auto;
}

.chevron-logo {
  height: 10px;
  width: 10px;
  margin: 5px 5px;
  display: inline-block;
  background: url(../../assets/img/smile.png) no-repeat 0 0;
  background-size: cover;
}

.rotate {
  transform: rotate(180deg);
}
